extends layout

block content
  div#main.pure-g
    div#index.pure-u-1.l-box
      h1 Oops!
      p An error occurred during login.
      h2 #{error}
      p #{error_description}
      a(href="/")
        button#apiCallButton.pure-button.pure-button-primary Home
