div(class="jumbotron")
    h1(class="display-4")= title
    p(class="lead") Welcome to the Organizations demo.
    a(href="/")
        input(type="button" value="OIDC" class="btn btn-primary")
    &nbsp;
    a(href="/saml")
        input(type="button" value="SAML" class="btn btn-primary")
    &nbsp;
    a(href="/settings")
        input(type="button" value="Settings" class="btn btn-primary")